<!-- detail.html -->
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

<head>
	<title>Django Site</title>
</head>
<section class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
        {{ question.question_text }}
      </h1>
            <h2 class="subtitle">
        Plz vote
      </h2> {% if error_message %}
            <p><strong>{{ error_message }}</strong></p>{% endif %}
            <form action="{% url 'polls:vote' question.id %}" method="post">
                {% csrf_token %} {% for choice in question.choice_set.all %}
                <input class="is-checkradio" type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
                <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
                <br /> {% endfor %}
                <br/>
                <input class="button is-primary" type="submit" value="Vote" />
            </form>
        </div>
    </div>
</section>