<!-- index.html -->
{% load static %}

<head>
	<title>Django Site</title>
</head>

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

<div class="content container is-fluid">
	<h1 class="title is-1">Vote</h1>

	{% if latest_question_list %}
	    <ul>
	    {% for question in latest_question_list %}
	        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
	    {% endfor %}
	    </ul>
	{% else %}
	    <p>No polls are available.</p>
	{% endif %}
</div>