<!-- results.html -->
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

<head>
	<title>Django Site</title>
</head>
<div class="content container">
	<h1>{{ question.question_text }}</h1>

	<ul>
	{% for choice in question.choice_set.all %}
	    <li>
	    	{{ choice.choice_text }} -- {{ choice.votes }} vote{{ choice.votes|pluralize }}
	    	<progress class="progress is-primary" value="{{ choice.votes }}" max="10"/>
	    </li>
	{% endfor %}
	</ul>

	<a class="button" href="{% url 'polls:detail' question.id %}">Vote again?</a>
</div>